@import forms.SchoolClassForm
@import forms.SchoolClassForm._
@import forms.AdditionalInfo

@(message: String, additionalInfoForm: Form[AdditionalInfo])(implicit messages: Messages)

@import helper._
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
 @helper.form(action = routes.HomeController.handleExcelImportForm, Symbol("enctype") -> "multipart/form-data") {

  @helper.inputText(additionalInfoForm("name"))
  @helper.inputText(additionalInfoForm("age"))

  <input type="file" name="file">

  <p>
   <input type="submit">
  </p>

 }
}
